nav{
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(165, 42, 48) ;
    color: yellowgreen;
}

main{
    height: 60vh;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin: 12px 12px 12px 12px;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
